.mainWrapper {width: 330px; height: 310px; margin: 80px auto; background-color: #9dd2ea; font-weight: bold;}
.displayField {width:230px; height: 33px;
    padding-top: 15px;
    margin: 7px;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    text-align: right;
}
.digitWrapper {
    width: 250px;
    float: left;
}
.digitButtons div, .operators div, .equals  {
    width: 68px;
    text-align: center;
    vertical-align: middle;
    height: 33px;
    float: left;
    background-color: #FFF;
    border-radius: 3px;
    margin: 7px;
    padding-top: 15px;
    cursor: pointer;
}
.operatorsWrapper {
    background-color: #CCC;
    width: 80px;
    height:310px;
    float: left;
}
.operators {

}