<div class="mainWrapper">
    <div class="digitWrapper">
        <div class="displayField">{{first + operator + second}}</div>
        <div ng-repeat="num in digits" class="digitButtons">
            <div ng-click="typeSymbol(num)">{{num}}</div>
        </div>
        <div class="equals" ng-click="count()">=</div>
    </div>
    <div class="operatorsWrapper">
        <div ng-repeat="operator in operators" class="operators">
            <div ng-click="addOperator(operator)">{{operator}}</div>
        </div>
    </div>
</div>